
header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: #282c34;
}
nav {
    margin-top:0%;
    display:flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fb8061;
    font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}

nav ul {
    display: flex;
    margin-left: 100px;
    grid-gap: 20px;
    text-decoration: none;
}

/* Redes sociais */
.social {
    display: flex;
    grid-gap: 15px;
    margin-left: 300px;
    
}
#linkedin {
    color: #fb9961;
    cursor: pointer;
    animation: linkedin 1s ease-in-out infinite alternate;
}

#linkedin:hover {
    color: rgb(235, 228, 228);
    background-color:  #0072b1;
    border-radius: 50%;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease;
}

#github {
    color: #fb9961;
    cursor: pointer;
}
#github:hover {
    color: rgb(235, 228, 228);
    background-color: rgb(12, 1, 1);
    border-radius: 50%;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease;
}
#whatsapp {
    color: #fb9961;
    cursor: pointer;
}
#whatsapp:hover {
    color: white;
    background-color: #075e24;
    border-radius: 50%;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease;
}

/* Menu */
#home:hover {
    color: rgb(255, 253, 253);
    cursor:pointer;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease 0s;
    
}
#about:hover {
    color: rgb(255, 253, 253);
    cursor:pointer;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease 0s;
    
}

#featured:hover {
    color: rgb(255, 253, 253);
    cursor:pointer;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease;
    
}

#portfolio:hover {
    color: rgb(255, 253, 253);
    cursor:pointer;
    text-shadow: 0 0 25px #fffefe;
    transition: all 0.9s ease;
    
}


