section {
    margin: 0;
    padding: 0;
    background-color: rgb(161, 154, 148);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: 'Garamond','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
}

section p {
    margin-top: 20px;
}


.last-projects {
    text-align: center;
}

/*Sobre mim */
.about-me {
    width: 450px;
    display: block;
    -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
    
}
.about-me:hover {
    list-style: none;
    color: rgb(255, 253, 253);
    text-shadow: 0 0 25px #fffefe;
    -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
}

/*Seta para voltar pro topo da página. */
.back-top a{
    display: flex;
    align-items: center;
    justify-content: center;
      
    position: relative;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    0%   {bottom: 100px;}
  }
.back-top img{
    max-width: 100px;    
    max-height: 100px;
}

/*Meus projetos já executados. */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 60px;
    padding: 50px;
    
    
}

a h2 {
    
    padding: 13px;
}
#bola {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
  }
#devRadar {
    max-width: 150px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(5px) scale(0.8);
}

#devRadar:hover,
#devRadar:focus {
    transform: translateX(15px) scale(1.1);
}


/*Imagens do slide show.*/

li h2,
a h2 {
    color: rgb(10, 8, 8);
    
    font-size: 40px;
    
}
.my-game-box {
    margin-top: 60px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.my-game-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.my-game-box:hover .my-game-box-inner {
    transform: rotateX(180deg);
}

.my-game-box-front,
.my-game-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.my-game-box-front {
    background-color: rgb(155, 140, 140);
    color: rgb(5, 3, 3);
    border: solid #fb8061;
}

.my-game-box-back {
    background-color: rgb(100, 109, 117);
    color: white;
    transform: rotateX(180deg);
    border: #fb8061;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    justify-content: center;
    padding: 120px;
    
}

.skills{
    width: 100%;
    height: 417px;
    background-image: url('../Main/images/teste.PNG'); 
    
}

.techs{
    opacity: 0.8;
    background-color: rgb(123, 138, 122);
}

.techs img {
    opacity: 0.5;
    max-width: 80px;
    grid-gap: 120px;
    align-items: center;
    
}
.techs img:hover {
    opacity: 1.5;
    max-width: 80px;
    grid-gap: 120px;
    align-items: center;
    
}
.techs a {

    border-radius: 20%;
    -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
  
}
#React-Logo {
    
    max-width: 150px;
    
  }

@media (prefers-reduced-motion: no-preference) {
   #React-Logo {
      animation: App-logo-spin infinite 4s linear;
    }
  }