
@media (max-width: 1112px) {
  main {
     flex-direction: column;
  }
}
main {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin-bottom: 100px;
    padding-top: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /*background-image: url("./images/background.gif");*/
    
}
main p{
    color: #241f1e;
    font-family: 'Roboto', sans-serif;
}
main p:hover{
    color: #241f1e;
    font-family: 'Roboto', sans-serif;
    
}

 h1 {
    font-size: 3.4rem;
    line-height: 1.2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.07em;
    color: black;
    
}

main ul:hover {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
}

main ul li a{
  font-size: 3.4rem;
  line-height: 1.2em;
  letter-spacing: -0.07em;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 1.0;
}

/*
#laser{
    animation: move-highlight 6s linear infinite;
    height:4%;
    width: 100%;
    background: rgb(241, 3, 3);
    position: absolute;
    opacity: 0.3;
    top: 10px;
    left: 0;
  }
  #laser:hover{
    animation-play-state: infinite;
  }

  @keyframes move-highlight {
    100% {
      top: 50em;
    }
  }
  */
#myImage{
  opacity: 1.5;
  cursor: pointer;
  -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 3000px;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: rgba(184, 171, 179, 0.4) 5px 5px, rgba(3, 3, 3, 0.726) 10px 10px, rgba(165, 148, 141, 0.507) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
#myImage:hover{
  opacity: 0.8;
  -webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
	transition: 0.35s all ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 310px;
    max-height: 310px;
    border-radius: 50%;
    box-shadow: rgba(184, 171, 179, 0.4) 5px 5px, rgba(3, 3, 3, 0.726) 10px 10px, rgba(165, 148, 141, 0.507) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}




