*{
  padding:0%;
  margin: 0;
  box-sizing: border-box;
  display: hidden;

}
html {
  scroll-behavior:smooth;
}
html, body,ul, li, p {
  list-style: none;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


